* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --headfont: 'Varela Round', sans-serif;
  --header-bgcolor:#4c5c68
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-family: var(--headfont);
  font-size: 70px;
  background-color: var(--header-bgcolor);
  width: 100%;
  text-align: center;
  color: #b0e4db;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #c5c3c6;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 10vw;
  font-weight: bold;
  line-height: 34px;
  height: 10vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
  border: 2px solid black;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-wrapper{
  display: flex;
  justify-content: center;
}

.header{
  display: flex;
  justify-content: center;
}

.status{
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  margin-bottom: ;
}